@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-mountain-deep text-slate-100;
}

.mountain-bg {
  background: linear-gradient(180deg, #16336d 0%, #0a1531 25%, #05070e 100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
